<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.Tarea4ConnectionString"
            connectionString="Data Source=.;Initial Catalog=Tarea4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>